*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;
}
html{
    scroll-behavior: smooth;
}
/* Variables con los colores para reusarlas */
:root{
    --main-black: #333;
    --dark-black: #000;
    --dark-black-dimmed: rgba(0, 0, 0, 0.65);    
    --dark-gray: #707070;
    --main-red: #CB4A4A;
    --main-white: #fff;
    --main-white-dimmed: rgba(255, 255, 255, 0.9);
    --main-beige: #F5EEE2;
}
/* --- */

/* Un toque de personalización */
::selection{
    background-color: var(--main-red);
    color: var(--main-white);
}
/* --- */

body{
    font-family: 'Rubik', sans-serif;
    color: var(--main-black);
    background-color: var(--main-beige);
}
/* Estilos "generales" para poder reusarlos en el sitio */
h1{
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
}
h2{
    font-size: 2.5rem;
    font-weight: 700;
}
h3{
    font-size: 2rem;
    font-weight: 700;
}
button{
    appearance: none;
    -webkit-appearance: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background-color: var(--main-red);
    color: var(--main-white);
    font-size: 1rem;
    padding: 20px 30px;
    border-radius: 36px;
    display: flex; /* Esto para centrar el span con el texto, el span contiene un emoji que después se cambia de tamaño */
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}
button:hover{
    transform: translateY(-1px) scale(1.005);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}
button span{
    font-size: 1.5rem;
    margin-left: 5px;
}
a{
    text-decoration: underline;
    color: var(--main-red);
}
/* --- */

/* Clases que se usarán para animar elemento al hacer scroll*/
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
/* --- */

/* Estilos para el header que se oculta y se muestra de acuerdo al scroll*/
nav{
    z-index: 2;
    width: 100%;
    padding: 20px;
    background-color: var(--main-white-dimmed);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: -115px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.25s ease-in;
}
.logo-nav{
    width: 100%;
}
nav img{
    width: 80%;
    max-height: 50px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
/* --- */

/* Estilos de la sección Hero, conteniendo div e imagenes de la sección principal, dividida básicamente en dos mitades con una imagen de fondo que ocupe todo el espacio, hasta un punto, que se explican más abajo. */
.hero{
    height: 90vh;
    min-height: 860px;
    max-height: 1080px; /* Quiero que el contenido no crezca infinitamente en lo alto, en monitores de muy alta resoulución */
    background: #F5EEE2 center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, var(--main-beige), transparent); /* Este es un gradiente que se pondrá sobre la img de fondo, abajo, para crear una transición al resto del sitio */
}
.hero-max-w{
    width: 90%;
    height: 100%;
    max-width: 1140px;  /* Quiero que el contenido no crezca infinitamente en lo ancho, en monitores de muy alta resoulución */
    z-index: 1; /* Necesito especificar esto por el gradiente al acabar la sección de HERO */
	display: flex;
}
.hero-content{
    border-radius: 10px;
    padding: 6% 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left-cont{
    padding: 60px 8% 2%;
	background-color: var(--main-white);
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.hero-upper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-hero{
    width: 90%;
    max-height: 120px; /* Para hacer que el logo elástico. Y que crezca hasta un punto */
}
.hero-upper button{
    margin-top: 40px;
}
.divider{
    height: 1px;
    width: 100%;
    margin: 40px auto;
    background-color: var(--main-black);
    opacity: 15%;
}
.hero-lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
button.btn-more{
    background-color: transparent; /* Es necesario sobreescribir el color de fondo, la sombra y el padding de este botón en específico, ya que no es un btn primario */
    box-shadow: none;
    padding: 0;
}
button.btn-more a{
    color: var(--main-black);
}
button .down-chevron{
    display: block;
    margin: 10px auto;
    margin-bottom: 0;
    height: 40px;
    width: 40px;
}
/* --- */

/* Sección siguiente, de contenido en la página */
.content{
    background-color: var(--main-beige);
    padding: 120px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-w{
    width: 100%;
}
.content h2{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.scrolling-wrapper-flexbox{
    margin-top: 10px ;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px 20px 0 20px;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper-flexbox:last-child{
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.scrolling-wrapper-flexbox .montadito-card{
    flex: 0 0 auto;
}
.scrolling-wrapper-flexbox .montadito-card:not(:last-child){
    margin-right: 20px;
}
.montadito-card{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    background: var(--main-white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}
.scrolling-wrapper-flexbox::-webkit-scrollbar{
    display: none;
}
/* --- */

/* Sección siguiente, call to action en la página */
.call-to-action{
    background-color: var(--main-beige);
    padding: 0;
}
.call-to-action-max-w{
    width: 90%;
    padding: 2% 6%;
    max-width: 1140px;  /* Quiero que el contenido no crezca infinitamente en lo ancho, en monitores de muy alta resoulución */
    margin: 0 auto;
    background-color: var(--main-white);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.call-left h2{
    margin-bottom: 30px;
}
.call-right img{
    width: 100%;
    max-width: 500px;
    max-height: 350px;
}
/* --- */

/* Sección siguiente, pre-footer en la página */
.pre-footer{
    background-color: var(--main-black);
    padding: 120px 0 90px;
    margin-top: -60px;
    position: relative;
}
.pre-footer-max-w{
    width: 90%;
    max-width: 1140px;  /* Quiero que el contenido no crezca infinitamente en lo ancho, en monitores de muy alta resoulución */
    margin: 0 auto;
}
.pre-footer-content{
    color: var(--main-white);
    display: flex;
}
.pre-footer-content > *{
    flex-basis: 100%; /* Pequeño hack que encontré para dividir siempre en partes iguales. En este caso se pudo haber puesto un width de 25%, al tener 4 columnas, pero podrían ser 3, que automáticamente el footer-content se dividirá en 3 (https://css-tricks.com/equal-columns-with-flexbox-its-more-complicated-than-you-might-think/) */
}
.pre-footer-content ul{
    list-style: none;
}
.pre-footer-content ul li:first-child{
    margin-top: 20px;
}
.pre-footer-content ul li{
    margin-top: 12px;
}
.pre-footer-content ul a{
    text-decoration: none;
    color: var(--main-white);
    opacity: 0.75;
}
.pre-footer-content ul a:hover,
.pre-footer-content ul a:focus{
    opacity: 1;
}
/* --- */

/* Sección siguiente, footer en la página */
.footer{
    background-color: var(--dark-black);
    padding: 30px 0;
}
.footer-max-w{
    width: 90%;
    max-width: 1140px;  /* Quiero que el contenido no crezca infinitamente en lo ancho, en monitores de muy alta resoulución */
    margin: 0 auto;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content p{
    font-size: 0.9rem;
    color: var(--dark-gray);
}
.footer-content a{
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--main-white);
    opacity: 0.75;
}
.footer-content a:hover,
.footer-content a:focus{
    opacity: 1;
}
/* --- */

/* Acá estarán los estilos del modal, iniciando con el "fondo" del mismo*/
.modal{
    display: none;
    justify-content: center;
    align-items: flex-start;  /* Para posicionar al modal dentro de la pantalla */
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--dark-black-dimmed);
}
.modal:not(.modal-container){
    cursor: pointer;
}
.modal-container{
    cursor: default;
}
.modal-container{
    width: 90%;
    max-width: 730px;
    margin-top: 6%;
    background-color: var(--main-beige);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    position: relative;
}
.modal-close{
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    font-size: 28px;
}
.modal-close:hover,
.modal-close:focus{
    opacity: 0.9;
    cursor: pointer;
    transform: translateY(-1px) scale(1.1);
}
.montadito-circle{
    width: 300px;
    height: 300px;
    background-color: var(--main-white);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.modal p{
    color: var(--dark-black-dimmed);
    opacity: 0.5;
}
.modal h2{
    font-size: 2.2rem;
    margin-top: 15px;
    text-align: center;
}
@media screen and (max-width: 961px){
    body{
        color: red;
    }
    .hero-max-w{
        justify-content: center;
    }
    .hero-content{
        width: 75%;
    }
    .logo-hero{
        width: 90%;
        margin: 0 auto;
    }
    .hero-content h1{
        text-align: center;
    }
    .montadito-card{
        width: 320px;
        height: 320px;
    }
    .call-to-action-max-w{
        padding: 8% 6%;
    }    
    .pre-footer-content{
        flex-wrap: wrap;
    }
    .pre-footer-content > *{
        flex-basis: 50%; /* Acá el hack usado en desktop pierde un poco su utilidad, ya que toca dividirlo "manualmente". En este caso, quiero la mitad del ancho para cada col */
        text-align: center;
    }
    .pre-footer-content div:not(first-child){
        padding-top: 40px;
    }
    .footer-content{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .footer-content p:not(first-child){
        padding-top: 10px;
    }
}
@media screen and (max-width: 641px){
    body{
        color: blue;
    }
    
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 2rem;
        line-height: 1;
    }
    .logo-nav{
        max-height: 40px;
    }
    .hero{
        min-height: auto;
    }
    .hero-content{
        width: 100%
    }
    .logo-hero{
        width: 50%;
    }
    .hero-upper{
        align-items: stretch;
    }
    .scrolling-wrapper-flexbox{
        margin-top: 20px;
    }
 
    .montadito-card{
        width: 300px;
        height: 300px;
    }
    .scrolling-wrapper-flexbox:last-child{
        margin-bottom: 50px;
        padding-bottom: 20px;
    }
    .call-to-action-max-w{
        padding: 8%;
        flex-direction: column;
        justify-content: space-between;
    }
    .call-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .call-left h2{
        font-size: 1.8rem;
        text-align: center;
    }
    .pre-footer{
        padding: 80px 0;
    }
    .pre-footer-content ul li:first-child{
        margin-top: 20px;
    }
    .pre-footer-content > *{
        flex-basis: 100%; /* Acá el hack usado en desktop pierde un poco su utilidad, ya que toca dividirlo "manualmente". En este caso, quiero la mitad del ancho para cada col */
        text-align: center;
    }
}
@media screen and (max-width: 320px){
    body{
        color: yellow;
    }
    h1{
        font-size: 2.2rem;
    }
    h3{
          font-size: 1.2rem;
    }
    nav{
        padding: 16px;
    }
    .logo-nav{
        max-height: 30px;
    }
    .hero{
        height: 75vh;
    }
    .divider{
        margin: 30px auto;
    }
    .logo-hero{
        width: 60%;
    }
    .btnModal span{
        display: none;
    }
    .content{
        padding-top: 60px;
    }
    .scrolling-wrapper-flexbox{
        margin-top: 0;
    }
    .montadito-card{
        width: 100%;
    }
    .scrolling-wrapper-flexbox .montadito-card:not(:last-child){
        margin-right: 10px;
    }
    .scrolling-wrapper-flexbox:last-child{
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
    .footer-content p{
        font-size: 0.9rem;
    }
}