*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html{
    scroll-behavior: smooth;
}

/* Variables con los colores para reusarlas */
:root{
    --main-black: #333;
    --dark-black: #000;
    --dark-black-dimmed: rgba(0, 0, 0, 0.5);    
    --dark-gray: #707070;
    --main-red: #CB4A4A;
    --main-white: #fff;
    --main-white-dimmed: rgba(255, 255, 255, 0.9);
    --main-beige: #F5EEE2;
}
/* --- */

/* Un toque de personalización */
::selection{
    background-color: var(--main-red);
    color: var(--main-white);
}
/* --- */

body{
    font-family: 'Rubik', sans-serif;
    color: var(--main-black);
}

/* Estilos "generales" para poder reusarlos en el sitio */
h1{
    font-size: 3em;
    font-weight: 700;
}

h2{
    font-size: 2.5em;
    font-weight: 700;
}

h3{
    font-size: 1.6em;
    font-weight: 700;
}

button{
    appearance: none;
    -webkit-appearance: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    cursor: pointer;
    border: none;
    background-color: var(--main-red);
    color: var(--main-white);
    font-size: 1.2em;
    padding: 22px 50px;
    border-radius: 70px;
    display: flex; /* Esto para centrar el span con el texto, el span contiene un emoji que después se cambia de tamaño */
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
}

button:hover{
    transform: translateY(-1px) scale(1.01);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}

button span{
    font-size: 1.5em;
    margin-left: 5px;
}

a{
    text-decoration: underline;
    color: var(--main-red);
}
/* --- */

/* Clases que se usarán para animar elemento al hacer scroll*/
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
/* --- */

/* Estilos para el header que se oculta y se muestra de acuerdo al scroll*/
nav{
    z-index: 2;
    width: 100%;
    padding: 25px;
    background-color: var(--main-white-dimmed);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: -115px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.25s ease-in;
}

nav img{
    display: block;
    cursor: pointer;
}
/* --- */

/* Estilos de la sección Hero, conteniendo div e imagenes de la sección principal, dividida básicamente en dos mitades con una imagen de fondo que ocupe todo el espacio, hasta un punto, que se explican más abajo. */
.hero{
    height: 100vh;
    min-height: 860px;
    max-height: 1080px; /* Quiero que el contenido no crezca infinitamente en lo alto, en monitores de muy alta resoulución */
    background: url(../imgs/bg.jpg) #F5EEE2 center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    position: relative;
}

.hero::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, var(--main-beige), transparent); /* Este es un gradiente que se pondrá sobre la img de fondo, abajo, para crear una transición al resto del sitio */
}

.hero-max-w{
    width: 90%;
    max-width: 1640px;  /* Quiero que el contenido no crezca infinitamente en lo ancho, en monitores de muy alta resoulución */
    margin: 0 auto;
    height: 90%;
    z-index: 1; /* Necesito especificar esto por el gradiente al acabar la sección de HERO */
}

.hero-content{
    background-color: var(--main-white);
    border-radius: 12px;
    padding: 4% 8% 2%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.hero-upper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-hero{
    width: 100%;
    max-height: 162px; /* Para hacer que el logo elástico. Y que crezca hasta un punto */
}

.hero-upper button{
    margin-top: 60px;
}

.divider{
    height: 1px;
    width: 100%;
    margin: 50px auto;
    background-color: var(--main-black);
    opacity: 15%;
}

.hero-lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button.btn-more{
    background-color: transparent; /* Es necesario sobreescribir el color de fondo, la sombra y el padding de este botón en específico, ya que no es un btn primario */
    box-shadow: none;
    padding: 0;
}

button.btn-more a{
    color: var(--main-black);
}

button .down-chevron{
    display: block;
    margin: 10px auto;
    margin-bottom: 0;
    height: 40px;
    width: 40px;
}
/* --- */

/* Sección siguiente, de contenido en la página */
.content{
    background-color: var(--main-beige);
    padding: 120px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-w{
    width: 100%;
}

.content h2{
    text-align: center;
    margin-bottom: 40px;
}

.scrolling-wrapper-flexbox{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px 20px 0px 20px;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-flexbox:last-child{
    margin-bottom: 90px;
    padding-bottom: 20px;
}

.scrolling-wrapper-flexbox .montadito-card{
    flex: 0 0 auto;
}

.scrolling-wrapper-flexbox .montadito-card:not(:last-child){
    margin-right: 20px;
}

.montadito-card{
    width: 350px;
    height: 350px;
    border-radius: 12px;
    background: var(--main-white);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}

.scrolling-wrapper-flexbox::-webkit-scrollbar{
    display: none;
}
/* --- */

/* Sección siguiente, call to action en la página */
.call-to-action{
    background-color: var(--main-beige);
    padding: 0;
}

.call-to-action-max-w{
    width: 90%;
    padding: 2% 6%;
    max-width: 1640px;  /* Quiero que el contenido no crezca infinitamente en lo ancho, en monitores de muy alta resoulución */
    margin: 0 auto;
    background-color: var(--main-white);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.call-left h2{
    margin-bottom: 30px;
}

.call-right img{
    width: 100%;
    max-width: 500px;
    max-height: 350px;
}

/* --- */

/* Sección siguiente, pre-footer en la página */
.pre-footer{
    background-color: var(--main-black);
    padding: 180px 0 90px;
    margin-top: -60px;
    position: relative;
}

.pre-footer-max-w{
    width: 90%;
    max-width: 1640px;  /* Quiero que el contenido no crezca infinitamente en lo ancho, en monitores de muy alta resoulución */
    margin: 0 auto;
}

.pre-footer-content{
    color: var(--main-white);
    display: flex;
}

.pre-footer-content > *{
    flex-basis: 100%; /* Pequeño hack que encontré para dividir siempre en partes iguales. En este caso se pudo haber puesto un width de 25%, al tener 4 columnas, pero podrían ser 3, que automáticamente el footer-content se dividirá en 3 (https://css-tricks.com/equal-columns-with-flexbox-its-more-complicated-than-you-might-think/) */
}

.pre-footer-content ul{
    list-style: none;
}

.pre-footer-content ul li:first-child{
    margin-top: 30px;
}

.pre-footer-content ul li{
    margin-top: 20px;
}

.pre-footer-content ul a{
    text-decoration: none;
    color: var(--main-white);
    opacity: 0.75;
}

.pre-footer-content ul a:hover,
.pre-footer-content ul a:focus{
    opacity: 1;
}
/* --- */

/* Sección siguiente, footer en la página */
.footer{
    background-color: var(--dark-black);
    padding: 30px 0;
}

.footer-max-w{
    width: 90%;
    max-width: 1640px;  /* Quiero que el contenido no crezca infinitamente en lo ancho, en monitores de muy alta resoulución */
    margin: 0 auto;
}

.footer-content{
    color: var(--dark-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content a{
    text-decoration: none;
    color: var(--main-white);
    opacity: 0.75;
}

.footer-content a:hover,
.footer-content a:focus{
    opacity: 1;
}
/* --- */

/* Acá estarían los estilos del modal, iniciando con el "fondo" del mismo*/
.modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--dark-black-dimmed);
}

.modal-content{
    width: 90%;
    max-width: 730px;
    background-color: var(--main-beige);
    border-radius: 12px;
    margin: 12% auto; /* Para centrar al modal dentro de la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    position: relative;
}

.modal-close{
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    font-size: 28px;
}

.modal-close:hover,
.modal-close:focus{
    opacity: 0.9;
    cursor: pointer;
    transform: translateY(-1px) scale(1.1);
}

.montadito-circle{
    width: 300px;
    height: 300px;
    background-color: var(--main-white);
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}

.modal p{
    color: var(--dark-black-dimmed);
    opacity: 0.5;
}

.modal h2{
    font-size: 3.4em;
    margin-top: 15px;
}